.button {
  width: 250px;
  height: 100px;
  margin: 33vh auto 0 auto;
  border-radius: 8px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  box-shadow: 8px 8px 1px brown;
}
