@font-face {
	font-family: Poppins; src:url(fonts/Poppins-Bold.ttf);
}

@font-face {
	font-family: Roboto; src:url(fonts/Roboto-Black.ttf);
}

body {
    background: #E5E5E5;
}

h1 {
    position: absolute;
    width: 613px;
    height: 171px;
    left: 180px;
    top: 218px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    color: #170C04;
}

#pug {
    /* Pug */
    position: absolute;
    width: 916px;
    height: 611px;
    left: 528px;
    top: 82px;
    background: url(images/pug.png);
    mix-blend-mode: darken;
    z-index: 2;
    
}

#rectang {
    /* Rectangle 71 */
    position: absolute;
    width: 525px;
    height: 693px;
    left: 985px;
    top: 0px;
    z-index: 1;
}

#rover {
    /* rover*/
    vertical-align: middle;
    background-position: left;
    background: no-repeat;
    font-family: Poppins;
    text-align: right;
    position: absolute;
    width: 72px;
    height: 39px;
    left: 176px;
    top: 23px;
    background-image: url(images/rover.png);
}



/*ссылки вверху header*/

#lin0 {
    /* DOG */


position: absolute;
width: 45px;
height: 26px;
left: 217px;
top: 37px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #000000;

}

#lin1 {
    /* Products */
position: absolute;
width: 65px;
height: 19px;
left: 553px;
top: 41px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #170C04;  
}

#lin2 {
/* Dog Care */


position: absolute;
width: 100px;
height: 19px;
left: 673px;
top: 41px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #170C04;  
}

#lin3 {
    /* About */
position: absolute;
width: 43px;
height: 19px;
left: 794px;
top: 41px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #170C04;
}

#lin4 {
/* Popular */


position: absolute;
width: 55px;
height: 19px;
left: 892px;
top: 41px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
/* identical to box height */
color: #000000;
}

a {
text-decoration: none;
color: #000000;
}

#s {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 950px;
    top: 42px;
  }
  input {
    height: 16px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }
  input:focus {
    width: 270px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
  }
  button {
    background: #E5E5E5;
    border: solid 2px;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 10px;
  }
  button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 0px;
    color: #F9F0DA;
  }