* {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  background-color: gray;
}

.flex-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-container {
  height: 150px;
  margin: 0;
  background-color: green;
}

.margin-4 {
  margin: 0 4px;
}

.margin-5 {
  margin: 0 5px;
}

.margin-6 {
  margin: 0 6px;
}

.img-container-200 {
  width: 200px;
}

.img-container-250 {
  width: 250px;
}

.img-container-300 {
  width: 300px;
}