@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto.ttf);
}
body,
html {
    margin: auto;
    position: relative;
    width: 1920px;
    height: 6599px;
    background: #333333;
    background-image: url(images/bgc.png);
}

/*header*/

header {
    position: relative;
    height: 960px;
    background-image: url(images/header-back.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

h1 {
    /*Первый курс по компьютерной сборке*/
    position: absolute;
    display: block;
    top: 270px;
    left: 312px;
    width: 920px;
    height: 180px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 90px;
    /* or 90px */
    /* white */
    color: #ffffff;
}

header img {
    position: absolute;
    display: block;
    left: 80px;
    top: 40px;
}

a {
    display: inline-block;
    margin-left: 56px;
    text-decoration: none;
    font-family: Roboto;
    color: #ffffff;
}

.kab {
    /* main-screen__button */
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 183px;
    height: 44px;
    right: 80px;
    top: 38px;
    /* grad2 */
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;
    /* white */
    color: #ffffff;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

header > nav {
		position: fixed;
		left: 624px;
        padding-top: 48px;
        text-align: center;
        z-index: 1;
}


header > div > a.bye {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 169px;
    height: 44px;
    left: 312px;
    top: 43px;
    /* grad1 */
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;
    /* white */
    color: #ffffff;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

header > div.bot {
    position: absolute;
    width: 1920px;
    height: 130px;
    left: 0px;
    top: 830px;
    background: #121212;
    background-image: url(images/main-screen-last-line-bgc.png);
}

.t1 {
    position: absolute;
    width: 251px;
    height: 58px;
    left: 562px;
    top: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    /* white */
    color: #ffffff;
}

table strong {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    /* white */
    color: #ffffff;
    opacity: 0.4;
}

.t2 {
    position: absolute;
    width: 714px;
    height: 67px;
    left: 894px;
    top: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    /* identical to box height, or 24px */
    /* white */
    color: #ffffff;
}

td {
    height: 6px;
}

header progress {
	width: 714px;
	height: 6px;
	border-radius: 0px;
}

header progress::-webkit-progress-bar {
	background-color: #ffffff;
}

header progress::-webkit-progress-value {
	background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

/*main*/

main > img {
    position: absolute;
    padding-top: 96px;
    width: 526px;
    height: 499px;
    left: 312px;
    top: 1160px;
    background-image: url(images/main-left-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

main > div {
    position: absolute;
    width: 636px;
    height: 67px;
    left: 972px;
    top: 1229px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    /* or 67px */
    /* white */
    color: #ffffff;
}

main > div > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    /* white */
    color: #ffffff;
    text-align: justify;
}

main > div.fast {
    position: absolute;
    width: 1315px;
    height: 45.15px;
    left: 356.15px;
    top: 1902px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */
    /* white */
    color: #ffffff;
}

main > div.fast > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    /* white */
    color: #ffffff;
    opacity: 0.5;
}

main > table {
    width: 1315px;
}

main progress {
	width: 324px;
	height: 80px;
	border-radius: 0px;
	border: none;
}



.text {
    padding-top: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    /* white */
    color: #ffffff;
    opacity: 0.5;
    text-align: left;
}
