.div_1 {
  width: 400px;
  height: 10vh;
  background-color: yellow;
  max-width: 400px;
  border: solid 4px red;
  border-top: dotted 4px black;
  border-bottom: dashed 4px blue;
  margin-bottom: 20px;
  border-radius: 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  }

.div_2 {
  min-width: 400px;
  max-height: 100px;
  width: 300px;
  height: 200px;
  background-color: violet;
  border: solid 4px green;
  outline: solid 4px blue;
  outline-offset: 2px;
}