p {
  width: 500px;
  border: 1px solid;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em;
  font-family: 'gabriola';
  font-size: 1.2em;
}

p:nth-of-type(2) {
  font-style: italic;
}

p:last-of-type {
  font-style: oblique;
  font-variant: small-caps;
}