@font-face {
	font-family: Monsteral;src: url(fonts/montserrat-alternates.ttf); /*подключаю шрифт из папки*/
}

body {
	font-family: Monsteral;
	background-color: #ffebcc;
	text-align: left;
	width: 1300px;
	margin: auto;	
}

header {
	background-image: url(images/header-back.gif);
	background-position: center;
	border-radius: 10px;
	font-family: Monsteral;
	font-size: 50px;
	text-align: center;
	color: #dae9da;
	height: 140px;
	background-color: #dcdcdc;
}

.scale {
	width: 15%;
	transition: 0.5s; /*задание времени увеличения картинки при наведении*/
}

.scale:hover {
	transform: scale(2); /*наведение на картинку дает увеличение 2х*/
}

main {
	margin: 0px 250px 0px 250px;
}

aside {
	border-radius: 10px;
	text-align: unset;
	background: #dddc8b;
	width: 200px;
}

.right {
	margin-left: 40px;
	float: right;
	
}

.menu {
	margin-right: 40px;
	float: left;
}

a {
	color: #000000; /*ссылки черного цвета*/
	text-decoration: none; /*убираем подчеркивание с ссылок*/
}

ul {
	padding-left: 20px;
	text-align: left;
}

footer {
	padding-bottom: 10px;
	text-align: right;
}

h4 {
	padding-left: 20px;
}

img {
	border-radius: 10px;
}

#tov {
	font-size: 30px;
}

article {
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	background-color: #f0f8ff;
	border-radius: 10px;
	width: 170px;
	margin-left: 15px;
	padding-top: 20px;
}

button {
	box-shadow: 0px 0px 10px 0px #000000 ;
	padding: 10px 45px 10px 45px;
	background-color: #696969;
	border-color: #ffd700;
	border-radius: 10px;
	color: #fffaf0;
	font-size: 16px;
}
button:hover {
	box-shadow: 0px 10px 10px 0px #000000 ;
	-webkit-transition-duration: 1s; /*chrome safari*/
	transition-duration: 1s;
	background-color: #ffd700;
	border-color: #696969 ;
	color: #000000;
}

.way {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #6200ff;
}

.mot {
	font-size: 24px;
	color: #dae9da;
	background-image: url(images/mot-img1.jpg);
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: 5px 5px 5px 5px;
}
.bez {
	font-size: 24px;
	color: #dae9da;
	background-image: url(images/bez-img1.jpg);
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: 5px 5px 5px 5px;
}
.mur {
	font-size: 24px;
	color: #dae9da;
	background-image: url(images/mur-img1.jpg);
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: 5px 5px 5px 5px;
}
.gla {
	font-size: 24px;
	color: #dae9da;
	background-image: url(images/gla-img1.jpg);
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: 5px 5px 5px 5px;
}
