/* manrope-500 - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/manrope-v4-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/manrope-v4-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/manrope-v4-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/manrope-v4-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/manrope-v4-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/manrope-v4-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

/*header styles start*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s all linear;
  padding: 0 15px 16px 15px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding-top: 22px;
}

.header-list {
  margin-left: 32.12px;
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 32px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #18191f;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: 0.75;
  transition: 0.4s all;
}

.header-nav {
  margin-right: 15px;
}

.header-markets {
  margin: 15px 0 15px auto;
}

.header-markets-google {
  margin-right: 13px;
}

.header-markets-google,
.header-markets-apple {
  text-decoration: none;
}

.header-markets-google:hover,
.header-markets-apple:hover,
.header-markets-google:focus,
.header-markets-apple:focus,
.header-markets-google:active,
.header-markets-apple:active {
  opacity: 0.5;
  transition: 0.5s all;
}

.header_active {
  background-color: #e1d4fd;
  z-index: 999;
}

/*header styles end*/

/*intro styles start*/

.intro {
  max-height: 100vh;
  background: url(../images/bg-intro.png) no-repeat;
  background-size: cover;
  padding: 240px 15px 15px 15px;
  margin-bottom: 16px;
}

.intro-title {
  max-width: 730px;
  margin-right: 45px;
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: #18191f;
}

.intro-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 196px;
  height: 62px;
  border: unset;
  background-color: #8c30f5;
  border-radius: 8px;
  transition: 0.5s all;
}

.intro-button-link:hover,
.intro-button-link:focus,
.intro-button-link:active {
  opacity: 0.7;
  color: #000000;
  width: 30%;
}

.intro-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 45px;
}

.intro-grid-itm-1 {
  grid-column: span 2;
}

/*intro styles end*/

/*intro footer start*/

.intro-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1110px;
  width: 100%;
  padding: 40px 15px 40px 15px;

  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  margin-bottom: 80px;
}

.intro-footer-link:hover,
.intro-footer-link:focus,
.intro-footer-link:active {
  transition: 0.5s all;
  opacity: 0.5;
}

/*intro footer end*/

/*tailor start*/

.tailor-wrap {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.tailor-title-wrap {
  max-width: 540px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  row-gap: 8px;
}

.tailor-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
}

.tailor-subtitle {
  max-width: 540px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  margin-bottom: 50px;
}

.tailor-cards {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 148px;
  grid-column-gap: 30px;
  grid-row-gap: 64px;
  justify-content: center;
  margin-bottom: 64px;
}

.grid-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #18191f;
  margin-bottom: 8px;
}

.grid-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18191f;
}

.tailor-img {
  display: inline-block;
  margin-bottom: 24px;
}

/*tailor end*/

/*real stories start*/
.real-stories {
  padding: 0 20px 20px 20px;
  background: #d5fafc;
}

.real-stories-cards {
  display: grid;
  grid-template-areas:
    "a a a a 1 1 1 1"
    "a a a a b b b b"
    "c c c c b b b b"
    "c c c c d d d d"
    "2 2 2 2 d d d d";
  column-gap: 50px;
  max-width: 1110px;
  padding-top: 115px;
  margin: 0 auto;
}

.real-stories-card-1 {
  max-width: 615px;
  grid-area: a;
  justify-self: end;
  z-index: 2;
  position: relative;
  padding-left: 100px;
}

.real-stories-card-1::before {
  content: "";
  background-image: url(../images/mark.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  max-width: 143px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  z-index: -1;
  top: -58px;
  left: 5px;
}

.stories-title {
  font-weight: 800;
  font-size: 48px;
  color: #18191f;
  margin-bottom: 8px;
}

.stories-subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}

.real-stories-card-2 {
  grid-area: b;
  justify-self: start;
  width: 445px;
  height: 340px;
  padding-top: 32px;
  padding-left: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background: #ffffff;
}

.stories-card-2-img {
  margin-bottom: 32px;
}

.stories-card-2-subtitle {
  width: 381px;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  background: url(../images/small-mark.png) no-repeat top left;
  padding-left: 32px;
  text-align: justify;
}

.stories-card-2-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #18191f;
  padding-left: 32px;
}

.stories-card-2-name-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
  padding-left: 32px;
}

.real-stories-card-3 {
  grid-area: c;
  justify-self: end;
  width: 350px;
  height: 436px;
  padding-top: 38px;
  padding-left: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background: #ffffff;
}

.stories-card-3-img {
  margin-bottom: 32px;
}

.stories-card-3-subtitle {
  width: 286px;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  background: url(../images/small-mark.png) no-repeat top left;
  padding-left: 32px;
  text-align: justify;
}

.stories-card-3-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #18191f;
  padding-left: 32px;
}

.stories-card-3-name-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
  padding-left: 32px;
}

.real-stories-card-4 {
  grid-area: d;
  justify-self: start;
  width: 350px;
  height: 276px;
  padding-top: 38px;
  padding-left: 32px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background: #ffffff;
}

.stories-card-4-img {
  margin-bottom: 32px;
}

.stories-card-4-subtitle {
  width: 286px;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  background: url(../images/small-mark.png) no-repeat top left;
  padding-left: 32px;
  text-align: justify;
}

.stories-card-4-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #18191f;
  padding-left: 32px;
}

.stories-card-4-name-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
  padding-left: 32px;
}

.real-stories-card-2:hover,
.real-stories-card-3:hover,
.real-stories-card-4:hover {
  transition: 0.5s;
  background-color: #ffffff63;
  box-shadow: 0px 0px 15px #000000;
}

/*real stories end*/

/*stats start*/
.stats {
  background: #ffffff;
}

.stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.stats-title {
  max-width: 500px;
  padding-top: 82px;
  margin: 0 auto;
  margin-right: 38px;
}

.stats-title-h {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
}

.stats-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}

.stats-grid {
  padding-top: 82px;
  display: grid;
  width: 540px;
  grid-template-columns: 255px 255px;
  grid-template-rows: 66px 66px;
  column-gap: 30px;
  row-gap: 30px;
}

.stats-card-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 30px;
  color: #18191f;
}

.stats-card-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18191f;
}

.stats-card-1 {
  padding-left: 94px;
  background: url(../images/stats-ico-1.png) no-repeat 30px center;
}

.stats-card-2 {
  padding-left: 94px;
  background: url(../images/stats-ico-2.png) no-repeat 30px center;
}

.stats-card-3 {
  padding-left: 94px;
  background: url(../images/stats-ico-3.png) no-repeat 30px center;
}

.stats-card-4 {
  padding-left: 94px;
  background: url(../images/stats-ico-4.png) no-repeat 30px center;
}
/*stats end*/

/*headline start*/

.headline {
  padding: 0 20px 0 20px;
}
.headline-flex {
  max-width: 1110px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 40px;
}

.headline-img {
  max-width: 540px;
  width: 100%;
  max-height: 540px;
  height: 100%;
  border-radius: 8px;
  background-color: #f1e4ff;
  text-align: center;
}

.headline-title {
  padding-top: 180px;
  width: 440px;
}

.headline-title-h {
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  color: #18191f;
  margin-bottom: 32px;
}

.headline-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  margin-bottom: 32px;
  text-align: justify;
}

.headline-link {
  display: inline-block;
  width: 165px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #8c30f5;
  text-decoration: none;
  background: url(../images/arrow-link.png) no-repeat right 10% center;
}

.headline-link:hover,
.headline-link:focus,
.headline-link:active {
  background: url(../images/arrow-link.png) no-repeat right center;
}
/*headline end*/

/*the world start*/
.world-wrapper {
  max-width: 1110px;
  margin: 0 auto 48px auto;
}

.world-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  color: #18191f;
  display: block;
  max-width: 540px;
  margin-right: 30px;
}

.world-text {
  font-size: 18px;
  line-height: 32px;
  display: block;
  width: 540px;
  text-align: justify;
}

.world-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

/*the world end*/

/*manage start*/

.manage-wrapper-full {
  width: 100%;
  background-color: #2ec5ce;
}

.manage-wrapper {
  max-width: 1110px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.manage-text {
  max-width: 540px;
  margin-right: 74px;
}

.manage-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
  padding-top: 68px;
}

.manage-subtitle {
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  margin-bottom: 48px;
}

.manage-fig:last-of-type {
  align-self: flex-end;
}

.manage-links-title {
  margin-bottom: 8px;
}

.manage-link {
  margin-right: 22px;
  margin-bottom: 20px;
}

.manage-link:hover,
.manage-link:active,
.manage-link:focus {
  opacity: 0.8;
}

/*manage end*/

/* footer start */
.footer {
  background-color: #0b0d17;
  color: #ffffff;
  line-height: 26px;
}
.footer-wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 56px 0 56px 0;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer-flex-itm {
  width: 475px;
}

.footer-logo {
  margin-bottom: 24px;
}

.footer-downloads {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.downloads-itm {
  margin-right: 24px;
}

.downloads-itm:last-of-type {
  margin-right: 0;
}

.downloads-itm-link,
.list-itm-link {
  color: #ffffff;
  text-decoration: none;
  line-height: 26px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.footer-flex-links {
  width: 165px;
}

.footer-links-title {
  margin-bottom: 17px;
}

.footer-link-img {
  margin-bottom: 17px;
}

.last-link {
  margin-bottom: 0;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active,
.downloads-itm-link:hover,
.downloads-itm-link:focus,
.downloads-itm-link:active,
.list-itm-link:hover,
.list-itm-link:focus,
.list-itm-link:active {
  opacity: 0.7;
}
/* footer end  */

@media screen and (max-width: 1100px) {
  .intro-title {
    font-size: 52px;
    line-height: 62px;
  }

  .intro-footer-link {
    margin: 15px;
  }

  .tailor-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px 0 10px;
  }

  .real-stories-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 20px;
    justify-content: center;
    align-items: stretch;
  }
}

@media screen and (max-width: 835px) {
  .intro-title {
    font-size: 32px;
    line-height: 42px;
  }

  .intro-button-link {
    font-size: 16px;
    line-height: 18px;
    width: 150px;
    height: 40px;
  }

  .tailor-title {
    font-size: 32px;
    line-height: 36px;
  }
  .stories-title {
    font-size: 32px;
    line-height: 34px;
  }

  .real-stories-card-1::before {
    background-size: contain;
    width: 70%;
    height: 70%;
    top: -39px;
    left: 39px;
  }
}

@media screen and (max-width: 768px) {
  .header-markets {
    margin: 0;
  }

  .header-logo {
    margin-bottom: 10px;
  }

  .header-nav {
    margin-bottom: 10px;
  }

  .stats-title {
    margin: 0 auto;
  }

  .headline-flex {
    justify-content: center;
  }
  .headline-img {
    margin-bottom: 20px;
  }

  .headline-title {
    padding-top: 0;
  }
  .headline-title-h {
    text-align: center;
  }

  .world-flex {
    justify-content: center;
  }

  .world-title {
    max-width: 540px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .world-text {
    padding: 0 20px 0 20px;
  }
  .manage-wrapper-full {
    padding: 0 20px 0 20px;
  }

  .footer-wrapper {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .maname-links {
    margin-bottom: 20px;
  }
  .manage-title {
    padding-top: 20px;
  }

  .footer-wrapper {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    padding-top: 150px;
  }
  .stats {
    padding: 0 20px 0 20px;
  }

  .stats-title-h {
    font-size: 32px;
    line-height: 34px;
  }

  .stats-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .headline-flex {
    margin-bottom: 20px;
  }
  .manage-title {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .manage-subtitle {
    margin-bottom: 10px;
  }

  .manage-link-img {
    margin-bottom: 10px;
  }

  .last-img {
    margin-bottom: 0;
  }
}
