/* manrope-500 - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/manrope-v4-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/manrope-v4-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/manrope-v4-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/manrope-v4-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/manrope-v4-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/manrope-v4-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000000;
}

/*header styles start*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding-top: 22px;
}

.header-list {
  margin-left: 32.12px;
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 32px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "liga" off;
  color: #18191f;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: 0.75;
  transition: 0.4s;
}

/*header styles end*/

/*intro styles start*/

.intro {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  min-height: 100vh;
  background: url(../images/bg-intro.jpg) no-repeat;
  background-size: cover;
  padding-top: 240px;
}

.intro-title {
  max-width: 730px;
  margin-right: 45px;
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: #18191f;
}

.intro-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  width: 196px;
  height: 62px;
  border: unset;
  background-color: #8c30f5;
  border-radius: 8px;
}

.intro-button-link:hover,
.intro-button-link:focus,
.intro-button-link:active {
  opacity: 0.7;
  color: #000000;
  transition: 0.5s;
}

.intro-image {
  float: right;
  margin-right: 180px;
  margin-top: -56px;
}

/*intro styles end*/
